.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg img {
  width: 75px;
}

.sideLink {
  color: #000;
  text-decoration: none;
  padding: 10px 14px;
}

.sideLink:hover {
  background-color: #bfd8ff;
  color: #000;
}

.myHeader {
  background-color: #007dfe;
  color: #fff;
}

.myLight,
.modal-header {
  color: #fff;
}

.darkBlue,
.card-header,
.btn-primary,
.modal-header {
  background-color: #1093ff;
}

.card {
  border-radius: 10px;
}

.card-header {
  color: #fff;
}

.darkBluebtn button {
  background-color: #1093ff;
  color: #fff;
}

.lightBlue,
.modal-body {
  background-color: #fafcff;
}

.lightBlue1 {
  background-color: #bfd8ff;
}

.noBorder {
  --bs-card-border-color: none;
  border-color: none;
}

body {
  background-color: #fafcff;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #bfd8ff;
}

.myLogin{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}